.recipeExpnd{
    background-color: whitesmoke;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 50px 30px;
    color: #313435;
}
.recipeExpnd h1{
    margin: 0px auto;
}
.recipeExpnd .ingredients{
    color: #777578;
}
.recipeExpnd .method{
    margin-top: 40px;
    line-height: 1.6;
}