.recipes-list{
    background-color: rgb(222, 222, 222);
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 30px;
}
.recipe-string{
    grid-column: span 3;
    margin: 0px auto;
}