.theme-selector{
    background-color: rgb(222, 222, 222);
    padding-block: 10px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.theme-buttons{
    display: flex;
    width: 80px;
    justify-content: space-between;
}
.theme-buttons div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.mode-selector{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.theme-selector.dark{
    background-color: #515151;
}